{% extends "base_accounts.html" %}
{% load static %}

{% block title %}Maxfiy so'zni tiklash{% endblock %}
{% block content %}
    
    <div class="container h-100">
        <div class="row h-100 justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 bg-white rounded-4 align-self-center">
                <h2 class="text-center border-bottom py-2">
                    <a href="{% url 'home' %}" class="text-light text-decoration-none  text-center">
                        <img class="logo-mohirdev" src="{% static 'logo.png' %}" alt=""> <span class="d-block text-dark fw-bold">MohirBitiruvchi</span>
                    </a>
                </h2>
                <div class="text-center p-2">
                    <h5>Maxfiy so'zni tiklash uchun Email talab etiladi.</h5>
                </div>
                <div class="login pt-0 pt-md-0 p-2 p-md-4">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="input-group my-3">
                            <span class="input-group-text mt-1">Email</span>
                            {{email_form.email}}
                        </div>
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == 'error' %}
                                    <span class="text-danger d-block text-center p-3">{{ message }}</span>
                                {% else %}
                                    <span class="text-secondary d-block text-center p-3">{{ message }}</span>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div class="text-center d-grid">
                            <button type="submit" class="btn btn-primary mt-3">Bog'lamani yuborish</button>
                        </div>
                        <span class="text-secondary d-block text-center p-3">Hisob mavjud emasmi?  <a href="{% url 'authenticated' %}" class="ms-2">Ro'yhatdan o'tish</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}