{% extends "base_accounts.html" %}
{% load static %}

{% block title %}Maxfiy so'zni tiklash{% endblock %}
{% block content %}
    
    <div class="container h-100">
        <div class="row h-100 justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 bg-white rounded-4 align-self-center">
                <h2 class="text-center border-bottom py-2">
                    <a href="{% url 'home' %}" class="text-light text-decoration-none  text-center">
                        <img class="logo-mohirdev" src="{% static 'logo.png' %}" alt=""> <span class="d-block text-dark fw-bold">MohirBitiruvchi</span>
                    </a>
                </h2>
                {% if form %}
                    <div class="text-center p-2">
                        <h5>Yangi maxfiy so'zni kiriting.</h5>
                    </div>
                    <div class="register reset_confrim pt-0 pt-md-0 p-2 p-md-4">
                        <div class="message-register">
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                        <span class="text-danger d-block text-center p-2">{{ message }}</span>
                                    {% else %}
                                        <span class="text-secondary d-block text-center p-2">{{ message }}</span>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <form action="{% url 'login_register' form='register' %}" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="mt-2">
                                    {{ field.label_tag }}
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <span class="text-secondary d-block text-center p-2 message"></span>
                            <div class="text-center d-grid">
                                <button type="submit" class="btn btn-primary mt-3 register_form" disabled >O'zgartirish</button>
                            </div>
                        </form>
                    </div>
                {% else %}
                    <div class="text-center p-2 border-bottom">
                        <h5>Xatolik</h5>
                    </div>
                    <p class="text-center d-grid">Ushbu bog'lamadan foydalanilgan yoki foydalanish vaqti tugagan!</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}