{% extends "base.html" %}
{% load static %}

{% block title %}O'quvchilar{% endblock %}
{% block content %}
    
    <div class="container-fluid certificate mt-5 align-items-center">
        <div class="row text-center">
            <h1>Bizning Mohir Bitiruvchilar Bilan Tanishing</h1>
            <h5 class="mb-2">Kurslarni muvofaqiyatli tomomlab Sertifikat olgan o'quvchilar</h5>
        </div>

        <div class="row mt-5 p-3 justify-content-center flex-column-reverse flex-sm-row">
            <div class="col-sm-8 p-3 bg-body-tertiary rounded-4 ">
                <!-- Filter -->
                <div class="dropdown mb-3 bg-white">
                    <button class="btn border w-100 d-flex justify-content-between" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {% if course %}
                            {{ course }}
                        {% else %}
                            Kurs bo'yicha saralash
                        {% endif %}
                        <i class="fa-solid fa-angle-down my-auto"></i>
                    </button>
                    <div class="position-relative">
                        <ul class="dropdown-menu w-100">
                            <li><a class="dropdown-item" href="{% url 'students' 'all' %}">Barchasi</a></li>
                            {% for course in courses %}
                                <li><a class="dropdown-item" href="{% url 'students' course.name %}">{{ course }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <!-- Filter end -->

                <!-- All student -->
                <div class="row row-cols-2 p-2 row-cols-md-4 g-4 text-center">

                    {% for student in students %}
                        <div class="col">
                            <div class="card h-100">
                                <img src="{{ student.image.url }}" class="card-img-top" alt="...">
                                <div class="card-body p-1">
                                    <a href="{% url 'students' student.id %}"><h6 class="card-title m-0">{{ student.get_full_name }}</h6></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <!-- All student end -->

                <!-- Paginator -->
                <div class="paginator mt-4">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            {% if students.has_previous or students.has_next %}
                                {% if students.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="{% url 'students' 'all' %}?page=1">
                                            <i class="fa-solid fa-angles-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="{% url 'students' 'all' %}?page={{ students.previous_page_number }}">
                                            <i class="fa-solid fa-angle-left"></i>
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="page-item"><a class="page-link" href="#">
                                    {{ students.number }} / {{ students.paginator.num_pages }}
                                </a></li>
                                {% if students.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="{% url 'students' 'all' %}?page={{ students.next_page_number }}">
                                            <i class="fa-solid fa-angle-right"></i>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="{% url 'students' 'all' %}?page={{ students.paginator.num_pages }}">
                                            <i class="fa-solid fa-angles-right"></i>
                                        </a>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <!-- Paginator end -->

            </div>

            <!-- Single student -->
            {% if one_student %}
                <div class="col-sm-4">
                        <div class="card w-100">
                            <div class="text-center">
                                <img src="{{ one_student.image.url }}" class="card-img-top w-75" alt="...">
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{ one_student.name }}</li>
                                <li class="list-group-item">{{ one_student.last_name }}</li>
                                {% for course in one_student.course.all %}
                                <li class="list-group-item">{{ course }}</li>
                                {% endfor %}
                            </ul>
                            <div class="card-body">
                                <h5 class="card-title">Qisqacha malumot</h5>
                                <p class="card-text">{{ one_student.info|safe }}</p>
                            </div>
                            <div class="card-body">
                                <a href="{{ one_student.linkedin }}" class="card-link text-decoration-none me-3"><i class="bi bi-linkedin me-1"></i>Linkedin</a>
                                {% if one_student.email_link %}
                                <a href="mailto:{{ one_student.email_link }}" class="py-3 px-4 ps-0 text-decoration-none">
                                    <i class="fa-regular fa-envelope me-2"></i>Email
                                </a>
                                {% endif %}
                            </div>
                        </div>
                </div>
            {% endif %}
            <!-- Single student end -->
        </div>
    </div>
    
{% endblock %}  
