<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MohirBitiruvchi</title>

    <!-- Style.css -->
    <link rel="stylesheet" href="../css/home.css">
    <!-- Bootstrap Style -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

</head>
<body>
    <header class="container-xxl shadow-lg sticky-top p-0">
        <nav class="navbar navbar-expand-lg bg-white bg-opacity-75">
            <div class="container-fluid justify-content-between">
                <a class="navbar-brand fs-4" href="../index.html">MohirBitiruvchi</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                    <div class="collapse navbar-collapse justify-content-lg-end" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../index.html">Asosiy</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../about.html">Biz Haqimizda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../sertificate.html">Sertifikat</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Sahifalar
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="./blog.html">Blog</a></li>
                                    <li><a class="dropdown-item" href="./events.html">Tadbirlar</a></li>
                                    <li><a class="dropdown-item" href="./gallery.html">Galereya</a></li>
                                    <li><a class="dropdown-item" href="./useful-link.html">Foydali</a></li>
                                    <li><a class="dropdown-item" href="./project.html">Loyihalar</a></li>
                                    <li><a class="dropdown-item" href="./students.html">O'quvchilar</a></li>
                                    <li><a class="dropdown-item" href="./teachers.html">Bizning O'qituvchilar</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../contact.html">Bog'lanish</a>
                            </li>
                        </ul>
                        <div class="dropdown fs-5">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Shaxsiy hisob
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                              <li><a class="dropdown-item" href="#">Kirish</a></li>
                              <li><a class="dropdown-item" href="#">Ro'yhatdan o'tish</a></li>
                              <li><a class="dropdown-item" href="#">Parolni tiklash</a></li>
                            </ul>
                        </div>
                    </div>
            </div>
        </nav>
    </header>
    
    <main id="home" class="container-xxl overflow-hidden">
        
        <a href="#" class="fs-2 to-top btn btn-primary p-0 px-2 rounded-circle "><i class="bi bi-arrow-up-short"></i></a>
        

    </main>

    <footer class="container-xxl p-0">
        <div class="mt-5">
            <div class="row p-2 text-white mt-5 justify-content-between">
                <div class="col-sm-6 col-lg-3 pt-0 p-3 text-center">
                    <h3 class="t">
                        <a href="https://mohirdev.uz/" target="_blank" class="text-light text-decoration-none text-center">
                            <img class="logo-mohirdev" src="./statik/image/logoANDfavicon.png" alt=""> <span class="d-block">MohirBitiruvchi</span>
                        </a>
                    </h3>
                    <h4>+998 (78) 113 13 10</h4>
                    <p>Toshkent shahar, Mirzo Ulug'bek tumani, Muminov ko’chasi, 4A</p>
                </div>
                <div class="col-sm-6 col-lg-3 pt-0 p-3 text-center">
                    <h5>Obuna</h5>
                    <p>Yangiliklardan xabardor bo'lish uchun obuna bo'ling</p>
                    <form class="align-bottom" action="" method="post">
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" placeholder="Emailingizni kiriting" aria-label="Recipient's username" aria-describedby="button-addon2" required>
                            <button class="btn btn-outline-primary" type="submit" id="button-addon2">Obuna</button>
                        </div>
                    </form>
                </div>
                <div class="col-6 col-md-4 col-lg-2 p-3">
                    <h5>Kompaniya</h5>
                    <ul>
                        <li><a href="https://mohirdev.uz/biz-haqimizda/" target="_blank" class="text-decoration-none">Kompaniya haqida</a></li>
                        <li><a href="https://mohirdev.uz/#kurslar" target="_blank" class="text-decoration-none">Bepul kurslar</a></li>
                        <li><a href="https://mohirdev.uz/#kasblar" target="_blank" class="text-decoration-none">Kasblar</a></li>
                        <li><a href="https://mohirdev.uz/qanday-xarid-qilinadi/" target="_blank" class="text-decoration-none">Qanday xarid qilinadi</a></li>
                        <li><a href="https://mohirdev.uz/ommaviy-oferta/" target="_blank" class="text-decoration-none">Ommaviy oferta</a></li>
                        <li><a href="https://mohirdev.uz/maxfiylik-siyosati/" target="_blank" class="text-decoration-none">Maxfiylik siyosati</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md-4 col-lg-2 p-3">
                    <h5>MohirBitiruvchi</h5>
                    <ul>
                        <li><a href="./about.html" target="_blank" class="text-decoration-none">Biz haqimizda</a></li>
                        <li><a href="./pages/blog.html" target="_blank" class="text-decoration-none">Blog</a></li>
                        <li><a href="./pages/gallery.html" target="_blank" class="text-decoration-none">Galereya</a></li>
                        <li><a href="./sertificate.html" target="_blank" class="text-decoration-none">Sertifikat</a></li>
                        <li><a href="./pages/events.html" target="_blank" class="text-decoration-none">Tadbirlar</a></li>
                        <li><a href="#" target="_blank" class="text-decoration-none">Ro'yhatdan o'tish</a></li>
                        <li><a href="https://mohirdev.uz/faq/" target="_blank" class="text-decoration-none">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 col-lg-2 p-3 text-center">
                    <h3>
                        <a href="https://mohirdev.uz/" target="_blank" class="text-light text-decoration-none">
                            <img class="logo-mohirdev" src="./statik/image/logo/logo-mohirdev-02.png" alt="">mohirdev.uz
                        </a>
                    </h3>
                    <p>Kasbiy hotirjamlikka shu yerda erishiladi</p>
                </div>
            </div>               
            <hr class="text-light m-0">
            <div class="rowcp-2 footer-down py-0">
                <div class="col-12 p-0">
                    <p class="text-center my-1">
                        © Mohirdev 2023. Barcha huquqlari himoyalangan.
                    </p>
                </div>
            </div>
        </div>
    </footer>





    <!-- JavaScript -->
    <script src="../js/home.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>