<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Xatosi</title>


    <link rel="stylesheet" type="text/css" href="{% static 'css/404_error.css' %}">
    <!-- <link rel="stylesheet" href="../static/css/404_error.css"> -->

</head>
<body>
    
    <h1>500 Xatoliok </h1>
    <p class="zoom-area"> Serverda xatolik yuz berdi. </p>
    <section class="error-container">
      <b>5</b>
      <b>0</b>
      <b>0</b>
    </section>
</body>
</html>