
.rating{
    display: inline-block;
    font-size: small;
    input{
        display: none;
    }
    label{
        cursor: pointer;
        i{
            color: #6e5643;
        }
    }
    label:hover > i,
    input:checked ~ label > i,
    label:hover ~ label > i{
        color: #ffdd00;
        transition: all .5s ease-in-out;
    }
}
.rating{
    transform: rotateY(180deg);
}


@keyframes slideInUp {
    0% {
        transform: translate3d(0,100%,0);
        visibility: visible
    }

    to {
        transform: translateZ(0)
    }
}
.slideInUp {
    animation-name: slideInUp
}